################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/hook/DotNet/NetCoreHooks/.vs/NetCoreHooks17/v15
/hook/DotNet/NetCoreHooks/.vs/NetCoreHooks17/DesignTimeBuild
**/.DS_Store
